@charset "utf-8";
/* CSS Document */

/*define fonts*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
@font-face{

    font-family:"Neue Haas Grotesk W01_n4";

    src:url("http://cdn.thingspace.verizon.com/fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"normal_400";

    src:url("http://cdn.thingspace.verizon.com/fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/a14594bf-73de-4b5f-9792-9566994a021d.woff2" <http://cdn.thingspace.verizon.com/fonts/a14594bf-73de-4b5f-9792-9566994a021d.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/bb4a10bb-155d-4c1a-a813-c65e10fac36c.woff" <http://cdn.thingspace.verizon.com/fonts/bb4a10bb-155d-4c1a-a813-c65e10fac36c.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/53812a68-b352-4951-b19c-fe964db7ffe2.ttf" <http://cdn.thingspace.verizon.com/fonts/53812a68-b352-4951-b19c-fe964db7ffe2.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/389e288e-637b-44b2-9b5a-4ecec3ae8e2c.svg#389e288e-637b-44b2-9b5a-4ecec3ae8e2c" <http://cdn.thingspace.verizon.com/fonts/389e288e-637b-44b2-9b5a-4ecec3ae8e2c.svg#389e288e-637b-44b2-9b5a-4ecec3ae8e2c>) format("svg");

    font-weight: 400;

    font-style: normal;

}

@font-face{

    font-family:"Neue Haas Grotesk W01_i4";

    src:url("http://cdn.thingspace.verizon.com/fonts/baa1ea73-44ac-4bb5-a6af-b7fc486d335f.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/baa1ea73-44ac-4bb5-a6af-b7fc486d335f.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"italic_400";

    src:url("http://cdn.thingspace.verizon.com/fonts/baa1ea73-44ac-4bb5-a6af-b7fc486d335f.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/baa1ea73-44ac-4bb5-a6af-b7fc486d335f.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/baa1ea73-44ac-4bb5-a6af-b7fc486d335f.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/baa1ea73-44ac-4bb5-a6af-b7fc486d335f.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/dc9df9ed-36b9-4522-8e57-1a899ed2c224.woff2" <http://cdn.thingspace.verizon.com/fonts/dc9df9ed-36b9-4522-8e57-1a899ed2c224.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/ff571a3a-fb16-42b1-a691-23d8955aa35e.woff" <http://cdn.thingspace.verizon.com/fonts/ff571a3a-fb16-42b1-a691-23d8955aa35e.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/4e756bdf-4269-4158-aad4-70a09c5eed5c.ttf" <http://cdn.thingspace.verizon.com/fonts/4e756bdf-4269-4158-aad4-70a09c5eed5c.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/91554ebe-051b-4fa7-bf6e-ac7ed5d0d107.svg#91554ebe-051b-4fa7-bf6e-ac7ed5d0d107" <http://cdn.thingspace.verizon.com/fonts/91554ebe-051b-4fa7-bf6e-ac7ed5d0d107.svg#91554ebe-051b-4fa7-bf6e-ac7ed5d0d107>) format("svg");

    font-weight: 400;

    font-style: italic;

}

@font-face{

    font-family:"Neue Haas Grotesk W01_n5";

    src:url("http://cdn.thingspace.verizon.com/fonts/fca16206-1413-42b5-b3dd-ce6499d2bd3f.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/fca16206-1413-42b5-b3dd-ce6499d2bd3f.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"normal_500";

    src:url("http://cdn.thingspace.verizon.com/fonts/fca16206-1413-42b5-b3dd-ce6499d2bd3f.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/fca16206-1413-42b5-b3dd-ce6499d2bd3f.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/fca16206-1413-42b5-b3dd-ce6499d2bd3f.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/fca16206-1413-42b5-b3dd-ce6499d2bd3f.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/34ae0cd2-c49c-4df4-8270-fcda21c1b715.woff2" <http://cdn.thingspace.verizon.com/fonts/34ae0cd2-c49c-4df4-8270-fcda21c1b715.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/9e666926-4bc9-4013-849e-dffa25a41dbd.woff" <http://cdn.thingspace.verizon.com/fonts/9e666926-4bc9-4013-849e-dffa25a41dbd.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/37e13425-7daf-407c-ba41-43ebd7d30855.ttf" <http://cdn.thingspace.verizon.com/fonts/37e13425-7daf-407c-ba41-43ebd7d30855.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/9cd38052-e8fa-4a89-bfee-01d1675c9aa1.svg#9cd38052-e8fa-4a89-bfee-01d1675c9aa1" <http://cdn.thingspace.verizon.com/fonts/9cd38052-e8fa-4a89-bfee-01d1675c9aa1.svg#9cd38052-e8fa-4a89-bfee-01d1675c9aa1>) format("svg");

    font-weight: 500;

    font-style: normal;

}

@font-face{

    font-family:"Neue Haas Grotesk W01_i5";

    src:url("http://cdn.thingspace.verizon.com/fonts/a0bf86e3-a9f2-4579-8187-62d3f2386821.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/a0bf86e3-a9f2-4579-8187-62d3f2386821.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"italic_500";

    src:url("http://cdn.thingspace.verizon.com/fonts/a0bf86e3-a9f2-4579-8187-62d3f2386821.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/a0bf86e3-a9f2-4579-8187-62d3f2386821.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/a0bf86e3-a9f2-4579-8187-62d3f2386821.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/a0bf86e3-a9f2-4579-8187-62d3f2386821.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/c951fbb4-1116-47e5-b057-5691a20747eb.woff2" <http://cdn.thingspace.verizon.com/fonts/c951fbb4-1116-47e5-b057-5691a20747eb.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/cfaf1c42-858f-4acc-88d8-f0fd7d3e6295.woff" <http://cdn.thingspace.verizon.com/fonts/cfaf1c42-858f-4acc-88d8-f0fd7d3e6295.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/602dde2d-6c6d-491a-b06e-6b1d3e3d6939.ttf" <http://cdn.thingspace.verizon.com/fonts/602dde2d-6c6d-491a-b06e-6b1d3e3d6939.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/5fd112e6-a183-4128-b927-bffbb08088d5.svg#5fd112e6-a183-4128-b927-bffbb08088d5" <http://cdn.thingspace.verizon.com/fonts/5fd112e6-a183-4128-b927-bffbb08088d5.svg#5fd112e6-a183-4128-b927-bffbb08088d5>) format("svg");

    font-weight: 500;

    font-style: italic;

}

@font-face{

    font-family:"Neue Haas Grotesk W01_n7";

    src:url("http://cdn.thingspace.verizon.com/fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"normal_700";

    src:url("http://cdn.thingspace.verizon.com/fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/8d290bc2-1f22-40ea-be12-7000a5406aff.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/d13fb250-6b64-4d97-85df-51fc6625a891.woff2" <http://cdn.thingspace.verizon.com/fonts/d13fb250-6b64-4d97-85df-51fc6625a891.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/60fa2ce6-c35e-4203-9bbf-25dd128daec5.woff" <http://cdn.thingspace.verizon.com/fonts/60fa2ce6-c35e-4203-9bbf-25dd128daec5.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/dda121ff-e230-440f-83fb-40aefbd6e09a.ttf" <http://cdn.thingspace.verizon.com/fonts/dda121ff-e230-440f-83fb-40aefbd6e09a.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/c98782d3-8599-4314-b717-118a629a3aa4.svg#c98782d3-8599-4314-b717-118a629a3aa4" <http://cdn.thingspace.verizon.com/fonts/c98782d3-8599-4314-b717-118a629a3aa4.svg#c98782d3-8599-4314-b717-118a629a3aa4>) format("svg");

    font-weight: 700;

    font-style: normal;

}

@font-face{

    font-family:"Neue Haas Grotesk W01_i7";

    src:url("http://cdn.thingspace.verizon.com/fonts/1800a121-4983-4f47-9289-a1cd0876ef3e.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/1800a121-4983-4f47-9289-a1cd0876ef3e.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"italic_700";

    src:url("http://cdn.thingspace.verizon.com/fonts/1800a121-4983-4f47-9289-a1cd0876ef3e.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/1800a121-4983-4f47-9289-a1cd0876ef3e.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/1800a121-4983-4f47-9289-a1cd0876ef3e.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/1800a121-4983-4f47-9289-a1cd0876ef3e.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/d1fbf511-d681-4002-b57e-cabb331b3b2e.woff2" <http://cdn.thingspace.verizon.com/fonts/d1fbf511-d681-4002-b57e-cabb331b3b2e.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/135bdd95-f711-4095-8be6-fce6d3f9ef54.woff" <http://cdn.thingspace.verizon.com/fonts/135bdd95-f711-4095-8be6-fce6d3f9ef54.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/5d166d29-ec50-4ded-aa67-9ee9504d6fb2.ttf" <http://cdn.thingspace.verizon.com/fonts/5d166d29-ec50-4ded-aa67-9ee9504d6fb2.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/a2b3b90c-2050-4961-95d2-4751f913a101.svg#a2b3b90c-2050-4961-95d2-4751f913a101" <http://cdn.thingspace.verizon.com/fonts/a2b3b90c-2050-4961-95d2-4751f913a101.svg#a2b3b90c-2050-4961-95d2-4751f913a101>) format("svg");

    font-weight: 700;

    font-style: italic;

}

@font-face{

    font-family:"Neue Haas Grotesk W01 Disp_n5";

    src:url("http://cdn.thingspace.verizon.com/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"Disp_normal_500";

    src:url("http://cdn.thingspace.verizon.com/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/1d2142cb-3e68-48df-b188-f1ac45a47a8b.woff2" <http://cdn.thingspace.verizon.com/fonts/1d2142cb-3e68-48df-b188-f1ac45a47a8b.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/9dc6c76b-0260-4292-af1d-0bc9eecbded2.woff" <http://cdn.thingspace.verizon.com/fonts/9dc6c76b-0260-4292-af1d-0bc9eecbded2.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/ed18aa48-557e-4d1f-a53c-58399a7c1bc4.ttf" <http://cdn.thingspace.verizon.com/fonts/ed18aa48-557e-4d1f-a53c-58399a7c1bc4.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/5b9068b3-d518-4b0a-a5a2-1aa25714df22.svg#5b9068b3-d518-4b0a-a5a2-1aa25714df22" <http://cdn.thingspace.verizon.com/fonts/5b9068b3-d518-4b0a-a5a2-1aa25714df22.svg#5b9068b3-d518-4b0a-a5a2-1aa25714df22>) format("svg");

    font-weight: 500;

    font-style: normal;

}

@font-face{

    font-family:"Neue Haas Grotesk W01 Disp_i5";

    src:url("http://cdn.thingspace.verizon.com/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"Disp_italic_500";

    src:url("http://cdn.thingspace.verizon.com/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/a28c06ea-8829-467a-a7be-4ffdfba4247b.woff2" <http://cdn.thingspace.verizon.com/fonts/a28c06ea-8829-467a-a7be-4ffdfba4247b.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/3293834c-c7fe-4d69-a914-f94198711fe4.woff" <http://cdn.thingspace.verizon.com/fonts/3293834c-c7fe-4d69-a914-f94198711fe4.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/65b936e2-311a-4b71-bf88-b03362853c0f.ttf" <http://cdn.thingspace.verizon.com/fonts/65b936e2-311a-4b71-bf88-b03362853c0f.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/8ab5cb54-50ea-4912-8521-79357a3b8131.svg#8ab5cb54-50ea-4912-8521-79357a3b8131" <http://cdn.thingspace.verizon.com/fonts/8ab5cb54-50ea-4912-8521-79357a3b8131.svg#8ab5cb54-50ea-4912-8521-79357a3b8131>) format("svg");

    font-weight: 500;

    font-style: italic;

}

@font-face{

    font-family:"Neue Haas Grotesk W01 Disp_n6";

    src:url("http://cdn.thingspace.verizon.com/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"Disp_normal_600";

    src:url("http://cdn.thingspace.verizon.com/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2" <http://cdn.thingspace.verizon.com/fonts/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff" <http://cdn.thingspace.verizon.com/fonts/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf" <http://cdn.thingspace.verizon.com/fonts/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/1baaf9ba-feec-45ca-a826-7bcf9f8e5b21.svg#1baaf9ba-feec-45ca-a826-7bcf9f8e5b21" <http://cdn.thingspace.verizon.com/fonts/1baaf9ba-feec-45ca-a826-7bcf9f8e5b21.svg#1baaf9ba-feec-45ca-a826-7bcf9f8e5b21>) format("svg");

    font-weight: 600;

    font-style: normal;

}

@font-face{

    font-family:"Neue Haas Grotesk W01 Disp_i6";

    src:url("http://cdn.thingspace.verizon.com/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"Disp_italic_600";

    src:url("http://cdn.thingspace.verizon.com/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/57974581-bbc7-4288-9512-600df67cfe32.woff2" <http://cdn.thingspace.verizon.com/fonts/57974581-bbc7-4288-9512-600df67cfe32.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/071a68ca-9b4b-44c3-a81f-5e63580800b8.woff" <http://cdn.thingspace.verizon.com/fonts/071a68ca-9b4b-44c3-a81f-5e63580800b8.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/3465d745-f731-442a-bd61-8749897a3002.ttf" <http://cdn.thingspace.verizon.com/fonts/3465d745-f731-442a-bd61-8749897a3002.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/bbe56dc8-c447-42aa-84e4-389e6d84e264.svg#bbe56dc8-c447-42aa-84e4-389e6d84e264" <http://cdn.thingspace.verizon.com/fonts/bbe56dc8-c447-42aa-84e4-389e6d84e264.svg#bbe56dc8-c447-42aa-84e4-389e6d84e264>) format("svg");

    font-weight: 600;

    font-style: italic;

}

@font-face{

    font-family:"Neue Haas Grotesk W01 Disp_n7";

    src:url("http://cdn.thingspace.verizon.com/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix>) format("eot")

}

@font-face{

    font-family:"Disp_normal_700";

    src:url("http://cdn.thingspace.verizon.com/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2" <http://cdn.thingspace.verizon.com/fonts/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff" <http://cdn.thingspace.verizon.com/fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/0deba34f-9242-462b-a359-74e95714f821.ttf" <http://cdn.thingspace.verizon.com/fonts/0deba34f-9242-462b-a359-74e95714f821.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/31c5f190-f4d8-436b-99bf-0561dd448586.svg#31c5f190-f4d8-436b-99bf-0561dd448586" <http://cdn.thingspace.verizon.com/fonts/31c5f190-f4d8-436b-99bf-0561dd448586.svg#31c5f190-f4d8-436b-99bf-0561dd448586>) format("svg");

    font-weight: 700;

    font-style: normal;

}

@font-face{

    font-family:"Neue Haas Grotesk W01 Disp_i7";

    src:url("http://cdn.thingspace.verizon.com/fonts/9a8c6e7e-602d-4aa3-9bad-e3571ebefc0e.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/9a8c6e7e-602d-4aa3-9bad-e3571ebefc0e.eot?#iefix>) format("eot")

}

@font-face{

    font-family: "Disp_italic_700";

    src:url("http://cdn.thingspace.verizon.com/fonts/9a8c6e7e-602d-4aa3-9bad-e3571ebefc0e.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/9a8c6e7e-602d-4aa3-9bad-e3571ebefc0e.eot?#iefix>);

    src:url("http://cdn.thingspace.verizon.com/fonts/9a8c6e7e-602d-4aa3-9bad-e3571ebefc0e.eot?#iefix" <http://cdn.thingspace.verizon.com/fonts/9a8c6e7e-602d-4aa3-9bad-e3571ebefc0e.eot?#iefix>) format("eot"),url("http://cdn.thingspace.verizon.com/fonts/e050deac-c053-470f-a815-635994435764.woff2" <http://cdn.thingspace.verizon.com/fonts/e050deac-c053-470f-a815-635994435764.woff2>) format("woff2"),url("http://cdn.thingspace.verizon.com/fonts/abd711ec-4ebd-4bb6-9344-bb69c3e56d7f.woff" <http://cdn.thingspace.verizon.com/fonts/abd711ec-4ebd-4bb6-9344-bb69c3e56d7f.woff>) format("woff"),url("http://cdn.thingspace.verizon.com/fonts/997d9611-90a1-4327-ab8a-c9ca357dbc5d.ttf" <http://cdn.thingspace.verizon.com/fonts/997d9611-90a1-4327-ab8a-c9ca357dbc5d.ttf>) format("truetype"),url("http://cdn.thingspace.verizon.com/fonts/85500253-698e-46b3-847b-fc375e5bd4d2.svg#85500253-698e-46b3-847b-fc375e5bd4d2" <http://cdn.thingspace.verizon.com/fonts/85500253-698e-46b3-847b-fc375e5bd4d2.svg#85500253-698e-46b3-847b-fc375e5bd4d2>) format("svg");

    font-weight: 700;

    font-style: italic;

}

html, body{
    min-height: 100%;
}
h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-family: 'Raleway', sans-serif !important;
}
h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}
a{
    text-decoration:none;
}
select, textarea, input:not([type=radio]){
    width: 100%;
    min-height: 40px;
}
select.wauto, textarea.wauto,input.wauto{
    width: auto;
}
.checkbox, .radio{
    margin: 0
}
p {
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
}
html, body{
    width:100%;
    height:100%;
    padding:0;
    font-family: 'Lato', sans-serif !important;
    margin:0;
    line-height: 1.5;
    font-size:16px;
    -webkit-transform:none !important;
    -webkit-perspective:none !important;
}
body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-backface-visibility: visible !important;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
[type="radio"] + label:before {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="radio"] + label:before, [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="radio"] + label:after {
    width: 6px;
    height: 6px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}
[type="radio"]:checked + label:after {
    background: #5a5a5a;
}

.radio-right [type="radio"] + label:after{
right: 5px;
left: auto;
}
.radio-right [type="radio"] + label:before{
    right: 0;
    left:auto;
}
.radio-right [type="radio"]:not(:checked) + label, .radio-right  [type="radio"]:checked + label {
     padding-right: 35px;
     padding-left: 0;
}

section.right-section {
    border: 1px solid #eaeaea;
    padding: 30px 100px 30px 30px;
    overflow: auto;
}
.page-header {
    margin-top: 0;
    border: none;
}
.page-header h2 {
    color: #B90A00;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}
.btn {
    font-weight: bold;
    font-size: 17px;
    border-radius: 7px;
    padding: 0px 12px;
    line-height: 38px;
    height: 38px;
}
.btn:hover{
    opacity: .7;
    color: #fff;
}
.btn-red{
    background: #B90A00;
    color: #fff;
}
.radio-select{
    background: #B90A00;
    border-radius: 7px;
    overflow: hidden;
}
.radio-select-label {
    background: #fff;
    display: inline-block;
    border: 1px solid #B90A00;
    border-radius: 7px;
    padding: 0px 5px;
}
.radio-select select {
    background: transparent;
    border: none;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 40px;
}
.radio-select select option{
    color: #B90A00
}
.logo h1 {
    font-size: 45px;
    font-weight: bold;
}
header {
    border-bottom: 1px solid #eaeaea;
   /* padding: 20px 50px;
    margin-bottom: 10px;*/
}
header .logo{
    display: inline-block;
}
header .header-actions{
    float: right;
}
header .header-actions a{
 display: block;
 font-weight: bold;
 color: #4B4B4B;
}
.pointer {
    cursor: pointer;
}
/*aside {
    height: 100%;
    margin-left: -15px;
}
aside ul {
    display: block;
    list-style: none;
    padding: 0;
    height: 100%;
    border: 1px solid #eaeaea;
    height: 100%;
}
aside ul li {

    line-height: 35px;
    position: relative;
}
aside ul li a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    display: block;
    padding: 0px 10px;
    border: 1px solid #eaeaea;
    position: relative;
}
aside ul li a.active {
    background: #B90A00;
    color: #fff;
    right: -5px;
    line-height: 41px;
    margin-top: -3px;
    margin-bottom: -3px;
    z-index: 9;
    box-shadow: 2px 0px 5px #666;
}
aside ul li a.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 35px;
    top: 3px;
    background: #850900;
    left: -5px;
}
aside ul li a i.fa {
    font-size: 29px;
    float: right;
    line-height: 35px;
    display: block;
    margin-right: -7px;
}
aside ul li a.active i.fa {
    line-height: 41px;
}*/

.skin-black-light .sidebar a.active, .skin-black-light .sidebar a.active:hover {
    background: #B90A00;
    color: #fff;
}

/*setting up heights*/
section.main_section {
    height: calc(100% - 51px);
    overflow: auto;
}
.main.container-fluid {
    height: 100%;
}
div#app {
    height: 100%;
}
.btn.btn-icon i.fa, .btn.btn-icon i.fa{
    font-size: 25px;
    line-height: 32px;
    position: relative;
}
.btn i.btn-right-icon{
    right: -5px;
    top: 3px;
    float: right;
}
.btn i.btn-left-icon.fa-star{
    font-size: 19px;
}
.btn i.btn-left-icon{
    left: -5px;
    top: 3px;
    float: left;
}
ul.list-group {
    border: 1px solid #eaeaea;
    padding: 5px;
    border-radius: 7px;
}
li.list-group-item {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 5px;
    background: #F7F6F6;
}
li.list-group-item .list-details{
    display: inline-block;
    width:calc(100% - 80px)
}
li.list-group-item .list-action{
    text-align: right;
    display: inline-block;
    width: 70px;
}
li.list-group-item .list-action .btn{
    margin-bottom: 10px;
}
.create-state label {
    min-width: 100px;
}
.create-state input[type="text"] {
    padding: 3px;
    height: 26px;
    line-height: 26px;
}
.form-group {
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
}
.btn:focus {
    color: #fff;
}
.form-group p{
    margin: 0
}
.create-state textarea {
    padding: 3px;
    height: 56px;
    line-height: 1em;
    resize: none;
    width: 400px;
}
.create-state fieldset, fieldset.primary{
    margin-top: 20px;
}
.create-state fieldset legend,  fieldset.primary legend {
    display: inline-block;
    border: none;
    width: auto;
    background: #B90A00;
    color: #fff;
    /* margin-top: 10px; */
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 2px 10px;
    font-size: 18px;
    margin: 0;
}
.create-state fieldset .form-group,  fieldset.primary .form-group{
    width: 100%;
    border: 1px solid #eaeaea;
    overflow: auto;
    /*padding: 10px;*/
    padding: 10px 0px;
    counter-reset: section;
}
fieldset .form-inline .form-control, fieldset .form-inline .form-group > div > div {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.line-state {
    background: #FFF;
    border-bottom-right-radius: 5px;
}
.main_section .line-state .form-inline .form-group {
    border: none;
}
.main_section .line-state .form-inline .form-group label {
    min-width: 60px;
    padding: 0 10px;
}
.state-tags {
    word-break: break-word;
}
.state-etg-bottom {
    margin-left: 60px;
}
.state-etg-top {
    display: inline-block;
}
.main_section .line-state .btn.add-state {
    padding: 15px 10px;
    line-height: 0px;
    height: 0;
}
.line-addstate {
    float: none;
    text-align: right;
    padding-bottom: 15px;
}
.dynamic span {
    border: none;
}
i.fa.op {
    margin-left: 20px;
    font-size: 17px;
}
.op-red {
    color: #B90A00;
}
.gen.dynamic {
    position: relative;
    overflow: hidden;
}
span.add-tag {
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: -8px;
    color: #888;
    width: 20px;
}
span.tag {
    border: 1px solid #CCC;
    margin-right: 5px;
    background: #EEE;
    padding: 0 0 0 3px;
}
span.remove-tag {
    color: #888;
    margin: 0 2px 0 5px;
}
#endif /* ! VERSION1 */
.input-range input[type="text"] {
    width: 50px;
    margin: 0px 10px;
}
.form-summery{
    margin-top: 10px;
}
.form-summery strong {
    display: inline-block;
    width: 161px;
    text-align: left;
}
.form-actions{
    padding-top: 10px;
    clear: both;
}
.create-state .btn.btn-red {
    /* min-width: 125px; */
    margin-left: 10px;
    padding: 0px 30px;
}

/*login page*/
.full-page-view {
    margin: 10px 100px;
    border: 1px solid #eaeaea;
    padding: 20px;
}
form.full-form.login {
    width: 400px;
    margin: 21px auto;
    border: 1px solid #eaeaea;
    border-radius: 7px;
    padding: 20px 70px;
    background: #E4E5E3;
    box-shadow: 0px 0px 10px #666;
}
form.full-form.login h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}
form.full-form.login .image {
    margin: 10px 0px;
    text-align: center;
}

form.full-form.login input[type="text"], form.full-form.login input[type="password"] {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 7px;
    padding: 0px 10px;
    height: 30px;
}
form.full-form.login button.btn.btn-red {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
.form-footer {
    margin-top: 10px;
}
.form-footer a {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    display: block;
}
.form-footer a.register_link {
    display: inline-block;
    background: #B0F199;
    padding: 2px 5px;
    border: 1px solid #649C50;
    color: #308611;
}
.checkbox [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute !important;
    left: -9999px !important;
    visibility: hidden !important;
}
.checkbox [type="checkbox"] + label:before {
    border-radius: 0%;
    border: 2px solid #5a5a5a;
}
.checkbox [type="checkbox"]:not(:checked) + label, .checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.checkbox [type="checkbox"] + label:before, .checkbox [type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
}
.checkbox [type="checkbox"]:not(:checked) + label, .checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.checkbox [type="checkbox"] + label:after {
    width: 6px;
    height: 6px;
    left: 2px;
    top: 3px;
    border-radius: 50%;
}
.checkbox [type="checkbox"]:checked + label:before {
    background: #5a5a5a;
}
.checkbox [type="checkbox"]:checked + label:after {
    background: #5a5a5a;
    font: normal normal normal 12px/1 FontAwesome;
    content: "\f00c";
    color: #fff;
}
/*register*/
form.full-form.register {
    width: 65%;
    margin: 0px auto;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #B90A00;
    border-color: #B90A00;
}
.panel-default {
    border-color: #B90A00;
    border-radius: 7px;
}
.panel-default>.panel-heading h3 {
    font-size: 20px;
}
form.full-form.register input[type="text"] {
    width: 90%;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding:0px 10px;
    text-align: center;
}
form.full-form.register .form-group {
    min-height: 60px;
    text-align: center;
}
form.full-form.register i.fa.fa-star {
    font-size: 10px;
    vertical-align: top;
}
form.full-form.register .label-placeholder{
    border:1px solid #B90A00;
    border-radius: 7px;
    position: absolute;
    left: 0;
    background:#F7F6F6;
    top:0;
    bottom: 0;
}
form.full-form.register .panel-body {
    padding: 15px;
    position: relative;
}
ul li.placeholder { padding: 5px 10px; margin: 5px background: rgb(255,240,120);}
ul li.placeholder:before {content: "Drop here"; color: rgb(225,210,90);}
ul { list-style: none; margin:0; padding:0}
ul li.sortable-item {
    padding: 5px 10px;
     background:#fff;margin: 5px;
     border:1px solid #ccc;
     border-radius: 5px;
     padding-left: 30px;
     position: relative;
 }
ul li.sortable-item:before {
    content: '< >';
    position: absolute;
    left: 5px;
    transform: rotate(90deg) scaleY(2);
    color: #B90A00;
    font-size: 14px;
    top: 7px;
}
p.sortable-msg.pull-left {
    color: #999;
    padding: 10px;
    font-size: 13px;
    margin: 0;
}
.actionlist-btm .btn{
    margin-top: 5px;
}
.sortable {
    height: 150px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bordered{
    border: 1px solid #ccc;
    padding:5px 10px;
}
.addactionform{
    max-height: 300px;
    overflow: auto;

}
.btn.btn-sm {
    line-height: 30px;
    height: 30px;
    padding: 0px 20px;
}
.ActoinStateList{
    margin-bottom: 5px;
    overflow: hidden;
}
.tab-panel{
    border: 1px solid #eaeaea;
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.create-state article.tab-panel {
    padding-bottom: 5px;
}
.tabs-navigation .tabs-menu-item{
    display: inline-block;
    border: none;
    width: auto;
    background: #B90A00;
    color: #fff;
    opacity: .7;
    /* margin-top: 10px; */
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 2px 10px;
    font-size: 18px;
    margin: 0;
}
.tabs-navigation .tabs-menu-item.is-active{
    opacity: 1

}
.tabs-navigation .tabs-menu-item a{
    color: #fff;
    text-decoration:none;
}

.btn.btn-sm.btn-rounded.btn-red {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 12px;
    margin-top: -3px;
    margin-left: 5px;
    color: #fff;
}
.modal-title {
    font-weight: bold;
    font-size: 23px;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    padding-top: 0;
    border: none;
}
table.table-primary {
    width: 100%;
}

table.table-primary td, table.table-primary th{
    border: 1px solid #fff;
    background: #fafafa;
    padding:5px;
}
table.table-primary th{
    background: #B90A00;
    color: #fff;
    padding: 3px 5px;
    text-align: center;
}
td.rule_name{
    width: 100px;
    text-align: center;
}
td.rule_actions{
    width: 100px;
    text-align: center;
}
.rule_actions a.btn.btn-sm, .rule_actions a.btn-icon{
    width: 25px;
    height: 25px;
    line-height: 25px;
}
a.btn-icon-c {
    color: #B90A00;
    font-size: 28px;
    vertical-align: middle;
    margin: 0px 5px;
    line-height: 1em;
    margin-top: -4px;
    display: inline-block;
}
.page-header-search i.fa.fa-search {
    position: absolute;
    left: 0;
    top: 8px;
    left: 5px;
}
input.search {
    border-radius: 5px;
    padding-left: 30px;
    border: 1px solid #ccc;
}
.page-header-search {
    overflow: hidden;
    margin: 15px 0px;
}
.ReactTabs__TabPanel {
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 5px;
    overflow: hidden;
}
.react-tabs [role=tablist] {
    border-bottom: 1px solid #eaeaea;
    margin: 0px;
    padding: 0;
}
.react-tabs [role=tab][aria-selected=true]{
    background: #B90A00;
    color:#fff;
}
.react-tabs [role=tab][aria-selected=true]{
    border-color: #eaeaea;
}
.create-rule .form-actions{
    margin-top: 25px;
}
.create-condition label{
    min-width: 120px;
}
.input-inline-gp {
    margin-bottom: 15px;
    overflow: hidden;
}
/*fieldset .form-inline .form-group{
    border: none;
}*/
/*.form-inline .form-group label{
.form-inline .form-group label{
    min-width: 50px;
}*/
.form-inline .form-group {
    margin-right: 50px;
}
.form-inline {
    margin-bottom: 10px;
}
.MultipleEventForm span{
    padding:0px 15px;
}
.Aggregation_list {
    padding-left: 46px;
    background: url(../images/agg_list_ic.png) no-repeat 10px 3px;
    background-size: 25px;
}
.AggregatinListNumber{
    background-image: url(../images/numberbg.png);
    position: relative;
}
.AggregatinListNumber:before {
    content: counter(section);
    counter-increment: section;
    position: absolute;
    left: 21px;
    font-size: 12px;
    top: 5px;
}
.legend-right {
    float: right;
    margin-top: -30px;
}
.previousEventBox.col-sm-6 {
    padding: 10px;
    border: 1px solid #eaeaea;
}
.onoffswitch {
    margin:0px auto;
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 18px; padding: 0; line-height: 18px;
    border: 2px solid #999999; border-radius: 18px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 2px solid #999999; border-radius: 18px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #B90A00;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #B90A00;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}
tr.disabled td {
    color: #999;
}
.bulb-cell{
  width: 30px;
}
.devices{
}
.devices #element{
  margin-left: 220px
}
.switch {
  position: relative;
  display: block;
  vertical-align: middle;
  width: 50px;
  height: 22px;
  padding: 3px;
  margin: 0px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 5px;
  color: #555;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 5px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #E1B42B;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  margin: -6px 0 0 -6px;
  width: 18px;
  height: 18px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.switch-flat {
  padding: 0;
  background: #FFF;
  background-image: none;
}
.switch-flat .switch-label {
  background: #FFF;
  border: solid 2px #aaa;
  box-shadow: none;
}
.switch-flat .switch-label:after {
  color: #333;
}
.switch-flat .switch-handle {
  top: 0px;
  left: 0px;
  background: #999;
  width: 22px;
  height: 22px;
  box-shadow: none;
}
.switch-flat .switch-handle:before {
  background: #ddd;
}
.switch-flat .switch-input:checked ~ .switch-label {
  background: #FFF;
  border-color: #333;
}
.switch-flat .switch-input:checked ~ .switch-handle {
  left: 28px;
  background: #333;
  box-shadow: none;
}

.nav.devices {
  width: 210px;
  height: 100%;
  background: #F7F6F6;
  position: fixed;
  top: 0;
  margin-left: -30px;
  padding-top: 50px;

}

.nav.devices a {
  color: #000;
  font-size: 10px;
}

.filter-device-type .dropdown-menu {
  position: relative;
  box-shadow: 0 0;
  border: none;
  background: #EBEBEB;
  border-radius: 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #FFF;
}

.filter-device-type .dropdown {
  border-bottom: 1px solid #FFF;
  padding: 10px 0;
}

.filter.filter-device-type {
  background: #B90A00;
}

#filter-devices {
  padding-left: 10px;
  background: #B90A00;
  color: white;
  text-decoration: none!important;
  font-weight: 600;
  font-size: 19px;
}

#filter-devices .caret {
  float: right;
  position: relative;
  top: 12px;
  right: 5px;
  width: 10px;
  height: 10px;
  display: block;
  border-top: 8px dashed white;
  border-top: 4px solid \9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}



.devices .dropdown-menu div:hover {
  background: #FFF;
}

.devices .dropdown-menu div:hover {
  background: #EBEBEB;
  color: #121212;
}

.devices .dropdown-menu div {
  margin-left: 10px;
  padding-right: 0;
}

#filter-devices .glyphicon-ok {
  float: right;
}

.nav.devices .glyphicon-ok {
  float: right;
  margin-right: 5px;
}

.filter-device-type .dropdown-menu div {
  margin: 10px 0;
}

.devices-list .menu-list {
  display: inline-block;
  padding: 0;
  width: 100%;
}

.devices-list li {
  padding: 7px 5px 7px 10px;
  list-style: none;
}

.devices-list li.hover {
  background: #EBEBEB;
}

.devices-list li i{
  float: right;
  font-size: 20px;
  margin-top: 3px;
}

.menu-list .glyphicon-triangle-right {
  float: right;
  width: 11px;
  top: 4px;
}

.no-select {
  font-weight: bold;
  color: #999;
  position: absolute;
  top: 50%;
  left: 55%;
}

#element .form-group {
  margin: 0;
  height: 35px;
  overflow: hidden;
  line-height: 12px;
}

#element .form-horizontal {
  padding: 6.5px 0;
}

.bulb-cell {
  width: 30px;
}

.device-header {
  margin-bottom: 40px;
}

#element .btn-details {
  background: #FFA91D;
  color: #89600F;
  text-decoration: none;
  border-radius: 10px;
  padding: 1px 12px 3px;
}
.dropdown .dropdown-menu{
  margin-top: 10px;
}

.dropdown .dropdown-menu div{
  cursor: pointer;
}
.dropdown .dropdown-menu div:hover{
  background: #EBEBEB;
}

.btn-details{
  cursor: pointer;
}

.red-btn{
  background-color: #B90A00;
  cursor: pointer;
  color: white;
  float: right;
}

.red-btn:hover{
  background-color: #B90A00;
  cursor: pointer;
  color: white;
}


.multiselect {
    width: 200px;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
    display: none;
    border: 1px #dadada solid;
	height: 190px;
    overflow-y: scroll;
}
#checkboxes label {
    display: block;
    line-height: 25px;
    padding-left: 10px;
}

#checkboxes label input{
  width: 15px;
  min-height: 0px;
  cursor: pointer;
}

#checkboxes label input:checked{
  position: initial !important;
  visibility: visible !important;
}

#checkboxes label:hover {
    background-color: #B90A00;;
}
.create-rule .my-modal{
	width: 742px;
}
.e-action-tabPanel{
	/*position: relative;*/
	border: 1px solid #ccc;
    border-radius: 5px;
}
.e-action-tabPanel .sortable{
	border: 0px;
    border-radius: 0px;
}
.e-action-tabPanel .e-action-btn{
	margin: 5px auto;
    text-align: center;
/*	position: absolute;
    top: 15%;*/
    width: 100%;
}
.add-action-btn {
    background: #ccc none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 102px;
    margin: 0 25px;
    padding: 12px;
    text-align: center;
    width: 200px;
	border-radius: 3px;
	cursor: pointer;
}
.e-btn-outer {
	font-size: 18px;
    padding: 12px;
	cursor: pointer;
}

/***********************************************************/
/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input, 
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected {
    float: left;
}
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
span.tagClass {
    background-color: #F5F7F8;
    border: 1px solid #C1C7CF;
    color: #7C8E9A;
    border-radius: 3px;
	display: inline-block;
    padding: 3px 8px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.removeClass {
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;
	color: #7C8E9A;
}
.state-etg-top .gen.dynamic{
	overflow: visible;
}
div.parentList, div.categoryList, div.oemList{
	overflow:visible;
}
/***************************************************************/